@model SortedResults
@{
    ViewData["Title"] = "Search";
}

<partial name="_Notification" />
<form method="post">
    <div class="border p-3 mt-4">
        @{
            if (@Model == null)
            {
                <div class="row pb-2">
                    <h2 class="text-primary">BubbleSort</h2>
                    <hr />
                    <h5>Instructions</h5>
                    <p>Please enter a list of Numbers.</p>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.UserInput.Characters">Enter Numbers separated by a comma.</label>
                    <input asp-for="@Model.UserInput.Characters" class="form-control" />
                    <span asp-validation-for="@Model.UserInput.Characters" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-warning" style="width:175px">Sort</button>
            }
        }

        @{
            if (@Model != null)
            {
                <div class="row pb-2">
                    <h2 class="text-primary">BubbleSort Results</h2>
                    <hr />
                </div>

                <div class="col-2 mb-3">
                    <label asp-for="@Model.SortedList">Sorted List</label>
                    <input asp-for="@Model.SortedList" class="form-controler" />
                    <span asp-validation-for="@Model.SortedList" class="text-danger"></span>
                </div>
            }
        }

    </div>
</form>